@import '../../scss/variables.scss';
@import "antd/dist/antd.css";

$editor-action-bar-height: 2.5rem;

.editorContainerClass {
  max-height: 30rem;
  min-height: 5rem;
  resize: vertical;
  flex-shrink: 0;
}

.editorContainerFullScreen {
  height: calc(100vh - $editor-action-bar-height)!important;
  max-height: calc(100vh - $editor-action-bar-height)!important;
  width: 100vw;
  z-index: 1;
}

.editorActionBarClass {
  height: 2.5rem;
  background-color: $gainsboro;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid $silver;
}

.editorActionBarFullScreen {
  height: 2.5rem;
  background-color: $gainsboro;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

.select {
  width: 8rem;
  margin-left: 0.8rem!important;
}
