@import '../../scss/variables.scss';

.spinner {
  border: 0.5rem solid $mystic;
  border-top: 0.5rem solid $gainsboro;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
