@import '../../scss/variables.scss';

.thead {
  position: sticky;
  top: 0;
  background-color: $gainsboro;
  height: 2rem;
}

.rowText {
  text-align: center;
}

.fullScreen {
  display: none!important;
}

.resultInfo {
  height: 1.5rem;
  background-color: $gainsboro;
  position: sticky;
  bottom: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

.tbody {
  background-color: $mystic;
}

.tableStatusItem {
  margin-right: 1.6rem;
}

.table {
  height: 100%!important;
  overflow: auto;
}
